@font-face {
    font-family: digital;
    src: url(./digital-7.ttf);
}
*{
    padding: 0px;
    margin: 0px;
    font-family: digital;
}

body{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle at top right,aqua 0% 20%,royalblue 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#container{
    width: 60vw;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    backdrop-filter: blur(2px) brightness(50%);
    border: 2px solid white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#time{
    color: white;
    font-size: 8vw;
    letter-spacing: 2vw;
    /* -webkit-text-stroke: 1px yellow; */
    text-shadow: 1px 1px 5px black;
}
#date{
    color: yellow;
    font-size: 4vw;
    letter-spacing: 2vw;
    /* -webkit-text-stroke: 1px yellow; */
    text-shadow: 1px 1px 5px black;
}
#day{
    color: yellow;
    font-size: 4vw;
    letter-spacing: 2vw;
    /* -webkit-text-stroke: 1px yellow; */
    text-shadow: 1px 1px 5px black;
}
#ss{
    font-size: 40vw;
    color: white;
    letter-spacing: 15vw;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10vw;
    z-index: -10;
    text-shadow: 5px 5px 5px black;
}